doctype 
html 
  head 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset ='utf-8')
    link(rel="stylesheet", href="./css/main.css")
    title Lets learn pug 

  body 
    h1 Hello to pug page 
    .img-container 
      img(src="./images/team-01.jpg")
      img(src="./images/team-02.jpg")
      img(src="./images/team-03.jpg")
      img(src="./images/team-04.jpg")
      img(src="./images/earth.jpg" width='400px')
    h2 hello people



    .footer 
      | designed by amgad almuhamady Gomaa 

    //- the scripts
    script(src="scripts/all.js") 